<%= form_with(model: dojo, local: true) do |form| %>
  <div class="row">
    <div class="input-field col s6">
      <%= select_tag :dojo_id, options_for_select(all_dojos.collect{|dojo| [dojo.id, dojo.branch] }), class:'custom-select' %>
      <%= form.label :branch %>
    </div>
    <div class="input-field col s6">
      <%= form.select :id_manager, options_for_select(all_managers.collect{|manager| [manager.first_name, manager.id]}), class:'custom-select' %>
      <%= form.label :manager %>
    </div>
  </div>

  <div class="row top-margin4">
    <div class="input-field col s6">
      <%= form.label :location %>
    </div>
    <div class="input-field col s10 col-sm-10 left-margin6">
      <%= form.text_field :street, class:'white-text' %>
      <%= form.label :street %>
    </div>
    <div class="input-field col s10 col-sm-10 left-margin6">
      <%= form.text_field :city, class:'white-text' %>
      <%= form.label :city %>
    </div>
    <div class="input-field col s10 col-sm-10 left-margin6 bottom-margin6">
      <%= form.select :state, options_for_select(us_states),{}, class: 'custom-select' %>
      <%= form.label :state %>
    </div>
  </div>

  <button class="btn waves-effect sn logreg" type="submit" name="action" style="width:10rem; margin: 0 1rem">SUBMIT
    <i class="material-icons right blue-text">send</i>
  </button>
<% end %>